.container{
margin-top: 5%;
}

table{
    border-collapse: separate;
    border-radius: 5px;
    border-spacing: 0;
}

tbody{
    overflow-y:scroll;
    height:500px;
}

table, th, td {
    border: 1px solid #efefef;
}

th,td{
    height: 55px;
    width:70px;
}

.c-axis{
    width: 40px;
}

#groups{
    width: 150px;
}

th, .c-axis, .c-entry p{
    font-size: 0.7em;
    font-weight: 400;
    vertical-align: top;
    line-height: 170%;
    padding: 0 3px;
}

th, .c-axis{
    text-align: center;
}

.fa-icons{
    vertical-align: middle;
    padding: 0 5px 0 5px;
}

.c-title{
    font-size: 1.1em;
    text-align: left;
    padding-left: 5px;
}

.c-entry{
    background: lightgray;
    border-radius: 3px;
    height: 100%;
}

/* TOOLTIP */

[tooltip]:before {
    position : absolute;
    background: antiquewhite;
    content : attr(tooltip);
    opacity : 0;
    border-radius: 3px;
    font-size: 0.6em;
    padding: 5px;
}

[tooltip]:hover:before {
    animation: fadein forwards ease-in-out 500ms;
}

[tooltip]:not([tooltip-persistent]):before {
    pointer-events: none;
    margin-left: 120px;
}


@keyframes fadein {
    from {
        opacity: 0;
        margin-left: 110px;
    }
    to   {
        opacity: 1;
        margin-left: 120px;
    }
}


/* GROUP SECTION */

.group-select select{
    width: 90%;
    height: 80%;
    margin: 5px 0px;
    border: none;
    background: white;
    -webkit-box-shadow: inset 0px 0px 3px 1px rgba(219, 219, 219, 1);
    -moz-box-shadow: inset 0px 0px 3px 1px rgba(219, 219, 219, 1);
    box-shadow: inset 0px 0px 3px 1px rgba(219, 219, 219, 1);
}

td#groups{
    vertical-align: top;
}

.selection-card{
    width: 90%;
    margin: auto;
    margin-top: 5px;
    padding: 5px;
    background: lightgray;
    border-radius: 3px;
    font-size: 0.9em;
}

.group-remove{
    float: right;
    margin: 6px 5px 6px 5px;
}